@use '../abstract/colors' as *;

p, ul, ol{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 140%;

    @media ( max-width: 812px ) and ( orientation: portrait ){
        font-size: 1rem;
    }
}

a {
  color: $color-4;
  text-decoration: none;
}

strong{
    color: #000;
}

* {
  box-sizing: border-box;
}

figure{
    margin: 0;
    padding: 0;
}