@use '../abstract/colors' as *;

.banner-nosotros{
    background-color: $color-1;

    @media ( max-width: 812px ) and ( orientation: portrait ){
        .banner-text-container-inner{
            padding: 0 2rem;
            width: 100%;
        }
    }
}
.banner-nosotros-bg-image{
    mix-blend-mode: overlay;
}
.banner-text-container-inner{
    .contact-data-wrap{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        column-gap: 2rem;

        @media ( max-width: 812px ) and ( orientation: portrait ){
            flex-flow: column;

            p{
                margin: 0 0 1rem;
            }
        }
        
        h3{
            display: none;
        }
        p{
            justify-content: center;
        }
        svg{
            fill:#FFF;
        }
    }
}
.nosotros-main-content{
    padding-bottom: 4rem;
    position: relative;

    &:after{
        background-color: $color-2;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 77.7777%;
        z-index: -1;

        @media ( max-width: 812px ) and ( orientation: portrait ){
            width: 100%;
        }
    }
}
.main-content-inner{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;
    margin: -80px auto 0;
    width: 84.4444%;

    @media ( max-width: 812px ) and ( orientation: portrait ){
        flex-flow: column;
        width: 100%;
    }

    .nosotros-main-image{
        width: 50%;

        @media ( max-width: 812px ) and ( orientation: portrait ){
            margin: 0 auto;
            width: 80%;
        }

        div:first-of-type{
            box-shadow: 0 0 4px #000;
        }
    }

    .nosotros-main-text{
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        padding: 0 2rem;
        width: 50%;

        @media ( max-width: 812px ) and ( orientation: portrait ){
            width: 100%;
        }

        .nosotros-main-certificates{
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            column-gap: 2rem;
            justify-content: flex-start;

        }
    }
}
.nosotros-antecedentes-container{
    position: relative;
}
.nosotros-antecedentes-content-inner{
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin:auto;
    position: relative;
    width: 100%;

    @media ( max-width: 812px ) and ( orientation: portrait ){
        justify-content: center;
    }
}
.nosotros-antecedentes-text-container{
    width: 40%;

    @media ( max-width: 812px ) and ( orientation: portrait ){
        width: 80%;
    }

    p{
        color: #FFF;
    }
}