@use '../abstract/colors' as *;

.banner-servicios{
    position: relative;
}
.serv-container{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;

    h3{
        font-size: 2.5rem;
        text-align: center;
        width: 50%;

        @media ( max-width: 812px ) and ( orientation: portrait ){
            font-size: 2rem;
            width: 90%;
        }
    }
}
.servicios-ensayos-panel{
    background: rgb(136,136,136);
    background: linear-gradient(180deg, rgba(136,136,136,1) 0%, rgba(96,96,98,1) 100%);

    @media ( max-width: 812px ) and ( orientation: portrait ){
        &.banner-full{
            height: auto;
            padding: 2rem 0;
        }
    }

    h3{
        color: #FFF;
    }

    p{
        color: #FFF;
    }
}
.servicios-panel{
    background-color: lighten( $color-1, 20% );
}
.serv-icon{
    align-items: center;
    display: flex;
    height: 112px;
    justify-content: center;
    margin: auto;
    width: 112px;

    svg{
        max-height: 100%;
    }
}
.servicios-inner{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 2rem;
    width: 84.4444%;

    @media ( max-width: 812px ) and ( orientation: portrait ){
        flex-flow: column;
        width: 90%;
    }

    .column{
        padding: 0 2rem;
        width: 33.3333%;

        @media ( max-width: 812px ) and ( orientation: portrait ){
            width: 100%;
        }

        p{
            text-align: center;
        }

        &:nth-child(2){
            border-left: solid 2px $color-4;
            border-right: solid 2px $color-4;

            @media ( max-width: 812px ) and ( orientation: portrait ){
                border: none;
            }
        }
    }
}