@use '../abstract/colors' as *;

html, body{
    margin: 0;
    padding: 0;
}

a {
  color: $color-4;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure{
    margin: 0;
    padding: 0;
}