.certificados-wrap{
    @media ( max-width: 600px ) and ( orientation: portrait ){
        margin: auto;
        padding: .5rem 0;
        width: 100%;

        img{
            height: auto;
            width: 100%;
        }
    }
}